<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonal" />
                <binding name="BasicHttpBinding_IAvisosAusencia" />
                <binding name="BasicHttpBinding_ILogin" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49898/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPersonal" contract="PRHService.IPersonal"
                name="BasicHttpBinding_IPersonal" />
            <endpoint address="http://localhost:49898/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAvisosAusencia" contract="PRHService.IAvisosAusencia"
                name="BasicHttpBinding_IAvisosAusencia" />
            <endpoint address="http://localhost:49898/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILogin" contract="PRHService.ILogin"
                name="BasicHttpBinding_ILogin" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
